body {
background-color: white;
}

header h1{
background-color: #A7D7C5;
line-height: 100px;
text-align: center;
border: 1px solid #A7D7C5;
margin-bottom: 0;
}


.container{
background-color: #F4F9F4;
border: 1px solid #F4F9F4;
}

footer{
background-color: #A7D7C5;
text-align: center;
line-height: 100px;
border: 1px solid #A7D7C5;
}